{% comment %} {% load static %} {% endcomment %}
{% comment %} <!DOCTYPE html> {% endcomment %}
{% comment %} <html lang="en"> {% endcomment %}
{% comment %} <head> {% endcomment %}
    {% comment %} <meta charset="UTF-8"> {% endcomment %}
    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    {% comment %} <meta name="description" content="A 3D Pong game built with Three.js"> {% endcomment %}
    {% comment %} <title>3D Pong Game</title> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/pong.css' %}"> {% endcomment %}
{% comment %} </head>
<body> {% endcomment %}
    <div id="game-container">
        <div class="neon-text" id="score" aria-live="polite">
            <text id="1_score">0</text> -
            <text id="2_score">0</text>
        </div>
        <div id="controls">
            <p>Controls: 'A' to move up, 'S' to move down</p>
        </div>
        <button id="playAgainButton" style="display: none;" onclick="restartGame()">Play Again</button>
    </div>

    {% comment %} <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
            }
        }
    </script> {% endcomment %}
    {% comment %} <script type="module" src="{% static 'js/game.js' %}"></script> {% endcomment %}
{% comment %} </body> {% endcomment %}
{% comment %} </html> {% endcomment %}
