<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome To The Game Section, {{ user.username }}!</h1>
    <div class="profile-section">
        <h2>Your Game History</h2>
        <ul>
            {% for history in game_history %}
                <li>{{ history.date }}: {{ history.result }} / {{ history.score }} Points</li>
            {% empty %}
                <li>No game history found.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="modes-section">
        <h2>Pong Game</h2>
        <ul>
            <button id="vsButton" type="button">Vs Mode</button>
            <button id="tournamentButton" type="button">Tournament Mode</button>
        </ul>
    </div>

    <script>
        document.getElementById("vsButton").addEventListener("click", function() {
            // Pong oyununa yönlendirme
            window.location.href = "{% url 'vs_mode' %}";
        });

        document.getElementById("tournamentButton").addEventListener("click", function() {
            // Tournament moduna yönlendirme
            window.location.href = "{% url 'tournament_mode' %}";
        });
    </script>
</body>
</html>
