<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <favicon href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <button id="homeButton" type="button">Home</button>
    <h1>Welcome To The Game Section, {{ user.username }}!</h1>
    <div class="modes-section">
        <h2>Pong Game</h2>
        <ul>
            <button id="vsButton" type="button">Vs Mode</button>
            <button id="tournamentButton" type="button">Tournament Mode</button>
        </ul>
    </div>
    <div class="profile-section">
        <h2>Your Game History</h2>
            <ul id="fokingamehistory" style="height: 300px; overflow-y: scroll;">
                <!-- {% for history in game_history %}
                    <li>{{ history.date|date:"M d, Y, H:i" }}:
                        {% if history.result == 'Victory' %}
                            <text class="victor">VICTORY</text>
                        {% elif history.result == 'Defeat' %}
                            <text class="loser">DEFEAT</text>
                        {% else %}
                            <text class="draw">DRAW</text>
                        {% endif %} with {{ history.score1 }} vs {{history.score2}}</li>
                {% empty %}
                    <li>No game history found.</li>
                {% endfor %} -->
            </ul>
    </div>
    <script src="path/to/game.js"></script>
    <script>
        document.getElementById("vsButton").addEventListener("click", function() {
            window.location.href = "{% url 'vs_mode' %}";
        });

        document.getElementById("tournamentButton").addEventListener("click", function() {
            window.location.href = "{% url 'tournament_mode' %}";
        });

        document.getElementById("homeButton").addEventListener("click", function() {
            window.location.href = "{% url 'home' %}";
        });
        document.addEventListener("DOMContentLoaded", function() {
            var fokingamehistory = document.getElementById("fokingamehistory");

            // JSON veriyi güvenli bir şekilde Django'dan aktar
            const username = "{{ user.username }}";
            console.log(username);

            const csrf=document.cookie.split('=')[1];
            var myData = fetch("http://127.0.0.1:8000/game/match_results/"+username, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrf
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    var li = document.createElement("li");
                    li.appendChild(document.createTextNode(data[i].date + ": " + data[i].result + " with " + data[i].score1 + " vs " + data[i].score2));
                    fokingamehistory.appendChild(li);
                }
            })
        });
    </script>
</body>
</html>
