<h1 data-translate="welcome">Welcome to the Home Page</h1>
<p data-translate="home_content">This is the content of the home page.</p>

<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>

<button id="profileButton" type="button" data-translate="profile">Profile</button>
<button id="logoutButton" type="button" data-translate="logout">Logout</button>
<button id="gameButton" type="button" data-translate="Game">Game</button>