<!DOCTYPE html>
{% load static %}

<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
</head>
<body>
	<div class="login-container">
		<h1>Giriş Yap</h1>
        <form id="loginForm">
			<div class="form-group">
				<label for="email">E-posta:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
				<label for="password">Şifre:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Giriş Yap</button>
        </form>
        <div id="error-message" class="error-message"></div>
    </div>
	<script src= "{% static 'js/login.js' %}">
	</script>
</body>
</html>
