    <div class="bg-image">
        <div class="bg-overlay">
            <div class="login-container">
                <div class="welcome-text text-center text-white mb-4">
                    <h1>Welcome to our ft_transcendence</h1>
                </div>
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <h1 class="card-title text-center mb-4" data-translate="login">Log in</h1>
                        <form id="loginForm" action='#'>
                            <div class="form-group">
                                <label for="email" data-translate="email">E-mail:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password" data-translate="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="button" id="loginButton" class="btn btn-success btn-custom" data-translate="login">Log in</button>
                            <button type="button" id="login42" class="btn btn-secondary btn-custom" data-translate="42_login">42 Login</button>
                            <a href='/register/' class="register-link" data-link data-translate="register">Sign in</a>
                        </form>
                        <div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
