<div class="login-container">
    <h1 data-translate="login">Giriş Yap</h1>
    <form id="loginForm" action='#'>
        <div class="form-group">
            <label for="email" data-translate="email">E-posta:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password" data-translate="password">Şifre:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="button" id="loginButton" data-translate="login">Giriş Yap</button>
        <button type="button" id="login42" data-translate="42_login">42 Login</button>
        <a href='/register/' data-link data-translate="register">Kayıt Ol</a>
    </form>
    <div id="error-message" class="error-message"></div>
</div>