<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title>User Profile</title>
</head>
<body>
	<h1>User Profile</h1>
	<div>
		<label for="username">Username:</label>
		<span id="username">{{ username }}</span>
	</div>
	<div>
		<label for="email">Email:</label>
		<span id="email">{{ email }}</span>
	</div>
	<div>
		<label for="name">Name:</label>
		<span id="name">{{ name }}</span>
	</div>
	<div>
		<label for="lastname">Surname:</label>
		<span id="lastname">{{ lastname }}</span>
	</div>
	<div>
		<label for="phone">Phone:</label>
		<span id="phone">{{ phone }}</span>
	</div>
	<script src="{% static 'js/profile.js' %}"> </script>
</body>
</html>