<h1 data-translate="user_profile">User Profile</h1>
    <div>
        <label for="username" data-translate="username">Username:</label>
        <span id="username">{{ username }}</span>
    </div>
    <div>
        <label for="email" data-translate="email">Email:</label>
        <span id="email">{{ email }}</span>
    </div>
    <div>
        <label for="name" data-translate="name">Name:</label>
        <span id="name">{{ name }}</span>
    </div>
    <div>
        <label for="lastname" data-translate="lastname">Surname:</label>
        <span id="lastname">{{ lastname }}</span>
    </div>
    <div>
        <label for="phone" data-translate="phone">Phone:</label>
        <span id="phone">{{ phone }}</span>
    </div>