<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Mode</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/modes.css' %}">
</head>
<body>
    <h1 class="neon-text">Tournament Mode</h1>
    <img src="{% static 'images/tournament_mode.jpg' %}" alt="Pong Game" style="width:50%; height:auto;">
    <ul>
        <button class="neon-text"><a href="{% url 'game_home' %}">Back</a></button>
        <button class="neon-text"><a href="{% url 'vspong' %}">Play</a></button>
        <!-- startPongGame(); -->
    <ul>
</body>
</html>
