<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/modes.css' %}">
</head>
<body>
    <h1 class="neon-text"> Vs Mode</h1>
    <img src="{% static 'images/vs_mode.jpg' %}" alt="Pong Game" style="width:50%; height:auto;">
    <ul>
        <li><button class="neon-text"><a href="{% url 'game_home' %}">Back</a></button></li>
        <li><button class="neon-text"><a href="{% url 'vspong' %}">Play</a></button></li>
    </ul>
    <script>
        // startPongGame();
    </script>
</body>
