{% comment %} <!DOCTYPE html> {% endcomment %}
{% comment %} <html lang="en"> {% endcomment %}
{% comment %} <head> {% endcomment %}
    {% comment %} <meta charset="UTF-8"> {% endcomment %}
    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    {% comment %} <title>Pong Game</title> {% endcomment %}
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/modes.css' %}"> {% endcomment %}
{% comment %} </head> {% endcomment %}
{% comment %} <body> {% endcomment %}
    <h1 class="neon-text"> Vs Mode</h1>
    <img src="{% static 'images/vs_mode.jpg' %}" alt="Pong Game" style="width:100%; height:auto;">
    <ul>
        <li><button class="neon-text" id='backHome'>Back</a></button></li>
        <li><button class="neon-text" id='Play'>Play</a></button></li>
    </ul>

    <!-- <div class="scoreboard">
        <h2>Player 1 Score: <span id="player1_score">0</span></h2>
        <h2>Player 2 Score: <span id="player2_score">0</span></h2>
    </div> -->
    {% comment %} <script>
        // startPongGame();
    </script>
</body>
</html> {% endcomment %}
