@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
body {
    font-family: 'Electrolize', sans-serif;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: #fff;
    text-align: center;
    margin-top: 40px;
    padding: 25px;
}

h1 {
    font-weight: bold;
    text-shadow: 5px 5px 10px #cc5a5a;
    font-size: 5rem;
    margin-bottom: 20px;
}

.modes-section {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.modes-section h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #ff4447;
    text-shadow: 5px 5px 10px #ffffffaf;
    margin-bottom: 20px;
}

.profile-section {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.profile-section h2 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 10px 10px 15px #fa3639;
    margin-bottom: 10px;
}

.profile-section ul {
    list-style-type: none;
    padding: 0;
}

.profile-section li {
    font-size: 1.2rem;
    margin: 5px 0;
}

button {
    background-color: #ff5e62;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 15px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9966;
}

#homeButton {
    position: absolute;
    top: 10px;   /* 20px space from right */
    left: 10px;  /* 20px space from left */
    background-color: #ff5e62;
    color: white;
    border: none;
    padding: 8px 13px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#homeButton:hover {
    background-color: #ff9966;
}

.language-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}