@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
body {
    font-family: 'Electrolize', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.bg-dark {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgba(211, 103, 103, 0.434);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.welcome-text {
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
    color: #600808;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #d79292;
    border-radius: 4px;
}

.btn-custom {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-custom img {
    height: 100%;
    max-height: 30px;
}

.btn-success {
    background-color: #621111;
    padding: 13px;
    color: white;
}

#loginButton:hover {
    background-color: #d79292;
}


.btn-secondary {
    background-color: #040303;
    color: white;
}

.register-link {
    display: block;
    text-align: center;
    color: #da441fad;
    margin-top: 15px;
    text-decoration: none;
}

.card {
    background-color: rgba(236, 189, 189, 0.547);
    border-radius: 8px;
    padding: 20px;
}

.text-center {
    text-align: center;
}

#content {
    width: 100%; /* horizontal width */
    height: auto; /* 50 height of the screen (viewport height) */
    margin: 0; /* to center */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.language-selector {
    position: fixed;
    bottom: 10px; /* 20px above from the bottom of the page */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px; /* space/gap between Label n select */
    z-index: 10; /* makes it to be on top of everything */
}