@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.neon-text {
  color: #37ff14;
  text-shadow:
    0 0 1px #39ff14,
    0 0 1px #39ff14,
    0 0 6px #39ff14,
    0 0 30px #39ff14;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #314161;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* to order from the top */
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* in order not to affect three.js render area */
  padding-top: 20px;
}

#score {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 10px; /* space bwtween score and controls */
}

#controls {
  font-size: 18px;
  color: #a8a8a8;
  opacity: 1; /* appears when game starts */
  transition: opacity 1s ease-in-out; /* Fading slowly effect */
}

#controls.hidden {
  opacity: 0;
  pointer-events: none;
}

#controls p {
  margin: 0;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

#score, #controls {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  #score {
      font-size: 20px;
  }

  #controls {
      font-size: 16px;
  }
}