/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
body {
    font-family: 'Electrolize', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

/* Language Container (if needed) */
.language-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Authentication Container */
.auth-container {
    max-width: 400px;
    width: 200%;
    padding: 30px;
    background-color: rgba(211, 103, 103, 0.434);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 150px;
}

.auth-container h1 {
    font-size: 24px;
    color: #600808;
    margin-bottom: 20px;
}

/* Form Styles */
.auth-form {
    width: 100%;
}

.auth-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.auth-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
}

.auth-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #d79292;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.auth-form .form-control:focus {
    border-color: #d79292;
    outline: none;
    box-shadow: 0 0 5px rgba(235, 144, 144, 0.992);
}

.text-decoration-none text-primary{
    text-decoration: none;
    color: #d79292;
}
/* Button Styles */
.auth-container button {
    width: 100%;
    padding: 12px;
    background-color: #621111;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;

}

.auth-container button:hover {
    background-color: #d79292;
}

/* Link Styles */
.auth-container p {
    margin-top: 15px;
}

.login-link {
    font-size: 18px;
    color: #621111;
    text-decoration: none;
}
.auth-container p a {
    font-size: 16px;
    color: #da441fad;
    text-decoration: none;
}

.auth-container p a:hover {
    text-decoration: underline;
}