@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.neon-text {
    color: #37ff14;
    text-shadow:
      0 0 1px #39ff14,
      0 0 1px #39ff14,
      0 0 6px #39ff14,
      0 0 30px #39ff14;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100 all page height */
    flex-direction: column;
}

#gameOptionsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center; /* centers buttons horizontal */
    align-items: center; /* centers buttons horizontal */
}

button {
    background-color: #f30a0a00;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
}

#content {
    width: 40%; /* horizontal width */
    height: 90vh; /* 50 height of the screen (viewport height) */
    margin: 0 auto; /* to center */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.language-selector {
    position: fixed;
    bottom: 20px; /* 20px above from the bottom of the page */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px; /* space/gap between Label n select */
    z-index: 10; /* makes it to be on top of everything */
}

.img {
    object-fit: cover;
    border-radius: 5px;
}

button:hover {
    background-color: #fcfcfc62;
    
}

button a {
    color: rgb(44, 241, 18);
    text-decoration: none;
}

button a:hover {
    text-decoration: underline;
}

ul li {
    display: inline-block;
}